*{
    background-color: #fdf1ef;
    display:flex 50%;
    justify-content: center;
    align-content: center;
}
.box{
    border: 1px solid black;
    border-radius: 8%;
    background-color: rgb(144, 173, 226);
    padding: 5px;
    font-size:60px;
    width: 80px;
    height:80px;
    text-align: center;
}
#reset{
    background-color: rgb(0, 0, 0);
    border: none;
    color: cornsilk;
    padding: 5px;
    margin: 8px;
}

